body{
    width: 100%;
    height: 100vh;
    /* background-color: tomato; */
}
main{
    background-color: #EEF9ED;
    height: 100%;
}
.datetime{
    font-size: 12px;
}
.time{
    border-bottom: 1px solid black;
}



