/* ===== ヘッダー ===== */
.pet-header{
    height:120px;
    background: #B8ECC7;
    display:flex;
    align-items:center;
    justify-content:center;
    position:relative;
}

.pet-header h1{
    font-size:28px;
    font-weight:500;
}

.back-btn{
    position:absolute;
    left:35px;   /* ← 画像の35に合わせる */
}

.back-btn img{
    width:28px;
}


/* ===== メイン ===== */
.pet-register{
    padding:60px 25px 60px; /* ← 上60・左右25 */
}


/* ===== アイコン ===== */
.pet-icon-wrap{
    margin-top:60px;   /* ← ヘッダーから60 */
    margin-bottom:60px;
    display:flex;
    justify-content:center;
}

.pet-icon{
    width:220px;
    height:220px;
    background:#B8ECC7;
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content:center;
}

.pet-icon img{
    width:120px;
}


/* ===== フォーム ===== */
.register-form{
    margin-top:20px;
}

.form-row{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:25px 0;
    border-bottom:1px solid #000;
}

.form-row label{
    font-size:20px;
}

.form-row input{
    border:none;
    outline:none;
    font-size:18px;
    background:transparent;
}


/* ▼ 三角 */
.form-row.select{
    position:relative;
}

.arrow{
    width:0;
    height:0;
    border-left:12px solid transparent;
    border-right:12px solid transparent;
    border-top:14px solid #B8ECC7;
}


/* ===== 登録ボタン ===== */
.submit-btn{
    width:100%;
    height:75px;
    margin-top:77px;   /* ← 画像の77 */
    background:#B8ECC7;
    border:none;
    border-radius:40px;
    font-size:22px;
    box-shadow:0 6px 12px rgba(0,0,0,0.15);
    cursor:pointer;
}