body{
    width: 100%;
    height: 100vh;
    /* background-color: #B8ECC7; */
}
/* main{
    background-color: #EEF9ED;
    height: 100%;
    padding: 24px;
} */ 
/* .datetime{
    font-size: 12px;
}
.time01{
    border-bottom: 1px solid black;
    font-size: 32px;
}
.main_word{
    margin: 15px 0;
    p{
        font-size: 15px;
    }
}
.creation_01{
    display: flex;
    justify-content: center;
    .creation{
        background-color: #B8ECC7;
        width: 380px;
        border-radius: 20px;
        box-shadow: 0 2px 2px 0 black;
        font-size: 24px;
    }
}
*/



.modalWrap{
    width: 100vw;
    height: 100vh;
    background-color: rgba(217, 217, 217, 0.7);
    position: fixed;
    left: 0;
    top: 0;
    .modal{
        width: 100vw;
        height: 538px;
        background-color: #EEF9ED;
        position: absolute;
        bottom: 0;
        border-radius: 40px;
        .icon_diary_wrap{
            display: flex;
            align-items: center;
            margin: 33px 0;
            padding-left: 24px;
            .sub_icon01{
                /* border-bottom: 1px solid tomato; */
                /* margin: 20px 0; */
                width: 50px;
                height: 50px;
                img{
                    width: 100%;
                }
            }
            .diary{
                font-size: 24px;
                margin-left: 30px;
            }
        }
        .datetime{
            font-size: 15px;
            padding-left: 24px;
            margin-bottom: 3px;
        }
        .time01{
            font-size: 32px;
            padding-left: 24px;
            border-bottom: 1px solid black;
        }
        .main_word{
            font-size: 15px;
            padding-left: 24px;
            margin-bottom: 30px;
        }
        .word_limit{
            font-size: 15px;
            color: rgb(108, 108, 108);
            border-top: 1px solid black;
            p{
                text-align: right;
                margin: 3px 24px;
            }
        }
        .image{
            font-size: 15px;
            p{
                padding-left: 24px;
            }
        }
    }
}
.functions_wrap{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 13px;
    padding-inline: 24px;

    .add_buttons_wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .camera_wrap{
        border: 1px solid #B8ECC7;
        background-color: #ffffff;
        width: 46%;
        height: 103px;
        text-align: center;
        border-radius: 20px;
        border-width: 2px;
        padding-top: 16px;
    }
    .album_wrap{
            border: 1px solid #B8ECC7;
        background-color: #ffffff;
        width: 46%;
        height: 103px;
        text-align: center;
        border-radius: 20px;
        border-width: 2px;
        padding-top: 16px;
    }
}
.creation_01{
    background-color: #B8ECC7;
    width: 100%;
    height: 53px;
    border-radius: 12px;
    box-shadow: 0 2px 2px 0 black;
    font-size: 24px;
}

