body{
    width: 100%;
    height: 100vh;
    /* background-color: tomato; */
}
header{
    background-color: #B8ECC7;
    padding-inline: 24px;
    height: 113px;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    display: flex;
    .icon_coco01{
        /* padding-inline: 24px; */
        display: flex;
        align-items: center;
        gap: 20px;
        margin-top: 40px;
    }
    .pullDown{
        /* padding-inline: 24px; */
        border-bottom: solid 0.5px;
    }
    .month{
        /* padding-inline: 24px; */
        margin-left: auto;
        display: flex;
        align-items: center;
    }
    .header_icon{
        /* padding-inline: 24px; */
        
    }
    .wrap{
        display: flex;
        align-items: center;
        gap: 20px;
        margin-top: 40px;
    }
    .triangle{
        clip-path: polygon(50% 100%, 100% 0, 0 0);
        background-color: #ffffff;
        width: 10px;
        height: 10px;
        
    }
    .wrap_pullDown{
        display: flex;
        gap: 5px;
    }
}
main{
    padding-top: 113px;
}
.calendar_week{
    padding-inline: 24px;
    display: flex;
    justify-content: space-between;
    .week1{
        color: red;
    }
    .date1{
        background-color: #B8ECC7;
        border-radius: 50%;
    }
    
    .day{
        p{
            width: 23px;
            height: 23px;
            text-align: center;
        }
    }
}
.record {
    width: 360px;
    font-size: 20px;
    
}
.timeline li{
    display: grid;
    grid-template-columns: 60px 40px 1fr;
    grid-template-rows: 30px 1fr;
    align-items: center;
    padding: 8px;
    border-bottom: 1px solid #000000;
    /* gap: 25px; */
    .time{
        grid-row: 1/2;
        grid-column: 1/2;
    }

    .images{
        width: 100%;
        grid-row: 2/3;
        grid-column: 1/3;
    }
    .label{
        grid-row: 1/2;
        grid-column: 3/4;
    }
    .memo{
        grid-row: 2/3;
        grid-column: 3/4;
        padding-left: 15px;
        background-color: #B8ECC7;
        
    }

}
.label{
    margin-left: 10px;
    font-size: 20px;
}
.record_menu_wrap{
    display: flex;
    background-color: #EEF9ED;
    justify-content: space-around;
    padding: 0 24px;
    
    
    .imgA{
        border-right: 1px solid black;
        padding: 8px 10px;
        display: flex;
        justify-content: space-around;
        background-color: #EEF9ED;
        flex-direction: column;
        align-items: center;
        &:last-child{
            border: none;
        }
    }
}
.record_main_wrap{
    border: 1px solid tomato;
    display: flex;
    justify-content: space-around;
    background-color: #B8ECC7;
    padding: 8px 24px;

    .imgB{
        display: flex;
        /* justify-content: space-around; */
        align-items: center;
        flex-direction: column;
        background-color: #B8ECC7;
        width: ;
    }
}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}







